<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuL0ECqguqQQCeoFmBVw46eJYme1aDl3o</string>
	<key>GCM_SENDER_ID</key>
	<string>33771824949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serhatpolat.FirebaseInstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-66891</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-66891.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33771824949:ios:0d89a93e595265599e0e7c</string>
</dict>
</plist>